

@font-face {
	font-family: 'Book Antiqua Bold';
	src: local('☺'), url('../fonts/bookantiqua_bold.woff') format('woff'), url('../fonts/bookantiqua_bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Book Antiqua Regular';
	src: local('☺'), url('../fonts/bookantiqua.woff') format('woff'), url('../fonts/bookantiqua.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Sans Bold';
	src: local('☺'), url('../fonts/liberationsansbold.woff') format('woff'), url('../fonts/liberationsansbold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Sans Regular';
	src: local('☺'), url('../fonts/liberationsans.woff') format('woff'), url('../fonts/liberationsans.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

