// Миксины
@mixin text($ff, $fw, $fz, $lh, $ls, $c) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;  
  color: $c;
}
@mixin text-light($ff, $fw, $fz, $c) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fz;  
  color: $c;
}