// Шрифт
$ff-LSb: 'Liberation Sans Bold', Arial, sans-serif;
$ff-LSr: 'Liberation Sans Regular', Arial, sans-serif;
$ff-BAb: 'Book Antiqua Bold';
$ff-BAr: 'Book Antiqua Regular';

$fw-700: 700;
$fw-400: 400;

$fz-64: 64px;
$fz-40: 40px;
$fz-27: 27px;
$fz-17: 17px;
$fz-15: 15px;


$lh-61: 61px;
$lh-51: 51px;
$lh-45: 45px;
$lh-36: 36px;
$lh-30: 30px;
$lh-25: 25px;
$lh-21: 21px;
$lh-18: 18px;
$lh-15: 15px;
$lh-0: 0;

$ls-100: 1px;
$ls-60: 0.6px;
$ls-40: 0.4px;
$ls-0: 0;

// цвет

$c-1: #042106;
$c-2: rgba(4, 33, 6, 0.57);
$c-3: #fff;
$c-4: #e3ce52;
$c-5: rgba(205, 203, 203, 0.6);
$c-6: #cdcbcb;
$c-7: rgba(255, 255, 255, 0.5);

$c-4-ededee: #ededee;
$c-6-656366: #656366;
$c-7-b0afb0: #b0afb0;
$c-8-6e6c6f: #6e6c6f;
$c-9-6f6c6e: #6f6c6e;
$c-10-6f6c6c: #6f6c6c;
$c-11-707070: #707070;
$c-12-9a9a9a: #9a9a9a;
$c-13-3b3b3b: #3b3b3b;
$c-14-7a7777: #7a7777;
$c-15-f3f2f2: #f3f2f2;
$c-16-aaa8aa: #aaa8aa;
$c-17-69727b: #69727b;

